<body>
    <div class="page-home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="page-title">
                        <img class="svg" src="../../../assets/svg/post-it.svg">
                        <span>Todo App</span>
                    </h2>
                </div>

                <div class="col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <!-- <mat-label>Favorite food</mat-label> -->
                            <input matInput placeholder="Yapılacak Birşey Ekle" #newTodo>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" (click)="addTodo(newTodo)">Ekle</button>
                    </form>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <mat-card class="d-flex">
                        <div class="example-container">
                            <h2>Yapılacaklar</h2>
                            <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="data.pendings"
                                [cdkDropListConnectedTo]="[progressList]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>

                                    <img class="svg" src="../../../assets/svg/clock.svg">

                                    <span class="todo-title">{{item.todo}}</span>
                                    <div class="button">
                                        <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center pt-2" *ngIf="data.pendings.length === 0">
                                    <small>Bir madde bulunamadı.</small>
                                </div>
                            </div>
                        </div>

                        <div class="example-container">
                            <h2>Şu an Yapılanlar</h2>
                            <div cdkDropList #progressList="cdkDropList" [cdkDropListData]="data.inProgress"
                                [cdkDropListConnectedTo]="[pendingList, doneList]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>

                                    <img class="svg" src="../../../assets/svg/sand-watch.svg">

                                    <span class="todo-title">{{item.todo}}</span>
                                    <div class="button">
                                        <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center pt-2" *ngIf="data.inProgress.length === 0">
                                    <small>Bir madde bulunamadı.</small>
                                </div>
                            </div>
                        </div>


                        <div class="example-container">
                            <h2>Tamamlananlar</h2>
                            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="data.done"
                                [cdkDropListConnectedTo]="[progressList]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of data.done" cdkDrag>

                                    <img class="svg" src="../../../assets/svg/check.svg">

                                    <span class="todo-title">{{item.todo}}</span>
                                    <div class="button">
                                        <button mat-icon-button color="warn" (click)="removeTodo(item.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center pt-2" *ngIf="data.done.length === 0">
                                    <small>Bir madde bulunamadı.</small>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center mt-2">
                    <small>Copright 2020 Todo App</small>
                </div>
            </div>

        </div>
    </div>
</body>